
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="form-horizontal">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>PhoneNumber</label>
                        <input type="text" id="PhoneNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" id="Country" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" id="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="button" id="create" value="Create" class="btn btn-primary" />
                        <a href="Index/Employee" class="btn btn-primary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#create").click(function () {
            var obj = new Object();
            obj["Name"] = $("#Name").val();
            obj["PhoneNumber"] = $("#PhoneNumber").val();
            obj["Country"] = $("#Country").val();
            obj["Description"] = $("#Description").val();
            debugger;
        $.ajax({
            url: "https://localhost:44395/api/Employee/PostCreateEmployee/",
            method: "post",
            dataType: "json",
            data: JSON.stringify(obj),
            contentType:"application/Json",
            success: function () {
                alert("saved succesfully");
                $("input[type='text']").val("");
            }
        })

        })
        debugger;
    })
</script>

